            @media (max-width:1685px) {
            .education-conten-reper .image {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                height: 100%;
            }
        }
        
        @media (max-width:1475px) {
            .h-title {
                padding: 25px 0;
                line-height: 32px;
                font-size: 26px;
            }
        }
        
        @media (max-width:1460px) {
            .h-title {
                padding: 25px 0;
                line-height: 32px;
                font-size: 26px;
            }
            @media (max-width:1390px) {
                .h-title {
                    padding: 25px 0;
                    line-height: 32px;
                    font-size: 25px;
                }
            }
            @media (max-width:1380px) {
                .education-text h3 {
                    margin: 5px 0;
                    font-size: 15px;
                }
                .education-text {
                    width: 48%;
                    height: 100%;
                }
                .edu-pera {
                    width: 52%;
                }
                .education-conten {
                    padding: 38px;
                }
                .edu-pera {
                    width: 52%;
                    font-size: 13px;
                }
            }
            @media (max-width:1375px) {
                .h-title {
                    padding: 25px 0;
                    line-height: 32px;
                    font-size: 20px;
                }
                .p-title {
                    line-height: 32px;
                }
                table {
                    font-size: 20px;
                }
            }
            @media (max-width:1090px) {
                .h-title {
                    font-size: 18px;
                }
                .p-title {
                    font-size: 17px;
                    margin-top: 7px;
                }
                .skills-conten-reper .skills-conten .text p {
                    color: #706f6d;
                    font-size: 16px;
                }
                .education-conten-reper .image {
                    display: none;
                }
                .education-conten-reper {
                    grid-template-columns: 100%;
                }
                .employment .employment-conten-box {
                    display: grid;
                    grid-template-columns: 33.2% 33.2% 33.2%;
                    column-gap: 1rem;
                }
                .employment .employment-conten h4 {
                    font-size: 14px;
                }
                .employment .employment-conten p {
                    font-size: 9px;
                }
            }
            @media (max-width:991px) {
                header .header-right ul li a {
                    font-size: 13px;
                }
                .h-title {
                    font-size: 16px;
                }
                .p-title {
                    font-size: 14px;
                }
                table {
                    font-size: 14px;
                }
                .skills-conten-reper .skills-conten .logo {
                    width: 20%;
                    height: 100%;
                }
                .skills-conten-reper .skills-conten .text h4 {
                    margin-bottom: 13px;
                }
                .skills-conten-reper .skills-conten .text p {
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            @media (max-width:937px) {
                .h-title {
                    font-size: 14px;
                    padding: 10px 0;
                }
                .p-title {
                    font-size: 12px;
                    margin: 5px 0;
                    line-height: 1.5rem;
                }
                table {
                    font-size: 11px;
                }
                .portfollo-menu ul li a {
                    font-size: 15px;
                    font-weight: 600;
                }
                .education-conten {
                    padding: 26px;
                }
                .edu-pera {
                    font-size: 10px;
                    line-height: 1.5rem;
                }
                .hireme .hireme-conten-box .hireme-conten p {
                    margin: 14px 0;
                    font-size: 12px;
                }
            }
            @media (max-width:860px) {
                label #btn {
                    display: block;
                    z-index: 99;
                }
                .menu-list {
                    position: fixed;
                    top: 7%;
                    background-color: rgba(0, 0, 0, 0.486);
                    left: -100%;
                    width: 100%;
                    transition: .5s all;
                }
                .menu-list li {
                    display: block !important;
                }
                .menu-list li a {
                    display: block;
                    padding: 27px 0 !important;
                    line-height: 0 !important;
                    transition: .5s;
                }
                .menu-list li a:hover {
                    background-color: rgb(255, 0, 255) !important;
                    color: #ffff !important;
                }
                .banner {
                    margin-top: 0;
                }
                #check:checked~ul {
                    left: 0;
                }
                #check:checked~label #btn {
                    display: none;
                }
                #check:checked~label #cancel {
                    display: block;
                }
                header .header-right ul li ul {
                    top: 46%;
                    left: 55%;
                    box-sizing: border-box;
                    padding: 0 20px;
                    z-index: 999;
                }
                .hello .image {
                    width: 68%;
                }
                .hello .hello-contain {
                    padding: 18px;
                }
                .h-title {
                    font-size: 14px;
                    padding: 7px 0;
                    line-height: 1.5rem;
                }
                .p-title {
                    font-size: 11px;
                }
                .portfollo-conten {
                    grid-template-columns: 50% 50%;
                }
                .skills-conten-reper {
                    grid-template-columns: 50% 50%;
                }
                .score .score-conten {
                    width: 100%;
                    display: flex !important;
                    justify-content: space-around;
                    text-align: center;
                    color: white;
                    align-items: center;
                    height: 100%;
                    flex-wrap: wrap;
                    gap: 0;
                    padding-top: 0;
                    margin-top: 0;
                }
                .conten {
                    width: 50%;
                }
            }
            @media (max-width:768px) {
                .hellow-content {
                    flex-direction: column;
                }
                .hello .image {
                    width: 100%;
                }
                .hello .hello-contain {
                    width: 100%;
                    align-items: center;
                }
                .btn a {
                    padding: 9px 14px;
                    transition: .4s;
                    font-size: 10px;
                }
                .portfollo-menu ul li a {
                    font-size: 10px;
                }
                .education-conten {
                    padding: 21px;
                }
                .edu-pera {
                    width: 50%;
                    font-size: 12px;
                    padding: 0;
                }
                .edu-pera p {
                    line-height: 1.5rem !important;
                }
                .employment .employment-conten-box {
                    display: flex;
                    flex-direction: column;
                }
                .employment .employment-conten {
                    margin-bottom: 30px;
                }
                .employment .employment-conten p {
                    font-size: 17px;
                }
                .hireme .hireme-conten-box .hireme-conten p {
                    margin: 14px 0;
                    font-size: 10px;
                    line-height: 0.5rem;
                }
                .hireme-conten-box form {
                    display: flex;
                }
                .hireme-conten-box form {
                    display: flex;
                    flex-direction: column;
                }
                input {
                    margin-bottom: 20px;
                }
                .footer-conten {
                    width: 100%;
                }
            }
            @media (max-width:576px) {
                header .header-laft img {
                    margin-left: 2rem;
                }
                .banner .banner-contain img {
                    height: auto;
                    width: 127px;
                }
                .banner .banner-contain .b-contain-title {
                    font-size: 27px;
                }
                .b-contain-3 {
                    font-size: 10px;
                }
                .b-contain-2 {
                    font-size: 10px;
                }
                .b-contain-1 {
                    font-size: 10px;
                }
                .banner .banner-contain .b-contain-1::before {
                    top: 8px;
                    right: 72px;
                    width: 20px;
                }
                .banner .banner-contain .b-contain-3::after {
                    top: 8px;
                    left: 90px;
                    width: 20px;
                }
                .h-title {
                    font-size: 10px;
                }
                .portfollo-conten {
                    grid-template-columns: 100%;
                }
                .skills-conten-reper {
                    grid-template-columns: 100%;
                }
                .education-conten-left {
                    margin-right: 0;
                }
                .education-conten {
                    padding: 13px;
                    display: flex;
                    flex-direction: column;
                }
                .education-text {
                    width: 100% !important;
                    text-align: center;
                }
                .edu-pera {
                    width: 100%;
                    text-align: center;
                }
                .hireme-conten-logo {
                    grid-template-columns: 100%;
                }
                .hireme .hireme-conten-box {
                    padding: 10px;
                }
            }
